{% extends 'admin_dashboard/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Select Record</h4>
            <form>
                <div class="row">
                    <div class="col-4">
                        <select name="session" required class="form-control">
                            <option value="">-------------------</option>
                            {% for session in session_list %}
                            <option {% if session == current_session %} selected {% endif %} value="{{session.id}}">{{ session }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-4">
                        <select name="term" required class="form-control">
                            <option value="">-------------------</option>
                            <option value="1st term" {% if term == '1st term' %} selected {% endif %}>1st Term</option>
                            <option value="2nd term" {% if term == '2nd term' %} selected {% endif %}>2nd Term</option>
                            <option value="3rd term" {% if term == '3rd term' %} selected {% endif %}>3rd Term</option>

                        </select>
                    </div>

                    <div class="col-4">
                        <input style="width:50%;margin-left:25%" type="submit" value="Proceed" class="btn btn-success">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row card">
    <div class="card-body"  style="overflow-x:auto">
        <h5 class="card-title">Inventory Stock Record for {{ current_session }} Session {{ term|title }}</h5>
        <table class="table table-borderless datatable" style="font-size:15px">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="min-width:170px">Inventory Item</th>
                    <th scope="col" style="min-width:150px">Supplier</th>
                    <th scope="col" style="min-width:80px">Qty</th>
                    <th scope="col" style="min-width:100px">Qty Left</th>
                    <th scope="col" style="min-width:120px">Date</th>
                    <th scope="col" style="min-width:120px">Unit Cost</th>
                    <th scope="col" style="min-width:120px">Sold At</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% if inventory_stock_list %}
                {% for stock in inventory_stock_list %}
                    <tr>
                        <th scope="col">{{forloop.counter}}</th>
                        <td><a style="color:black" href="{% url 'inventory_item_detail' stock.item.id %}">{{stock.item|title}}</a></td>
                        <td><a style="color:black" {% if stock.supplier %} href="{% url 'inventory_supplier_detail' stock.supplier.id %}" {% endif %}> {{stock.supplier|title}}</a></td>
                        <td>{{stock.quantity}}</td>
                        <td>{{stock.quantity_left}}</td>
                        <td>{{stock.date|date}}</td>
                        <td>{{stock.unit_cost|intcomma}}</td>
                        <td>{{stock.unit_selling|intcomma}}</td>
                        <td><a title="Delete Stock" href="{% url 'inventory_stock_delete' stock.id %}" class="btn btn-danger"><i class="bi bi-trash"></i> </a></td>

                    </tr>
                {% endfor %}
                {% else %}
                    <tr><td colspan="9"><h3 class="text-center">No Stock Yet</h3></td></tr>
                {% endif %}

            </tbody>
        </table>
    </div>
</div>



{%endblock %}