{% extends 'front_cms/layout/layout1.html' %}
{% block 'main' %}
{% load static %}
	<!-- Center area -->
<div id="s5_center_area1">
    <div id="s5_center_area2">
		<div id="s5_center_area_inner">
			<div id="s5_columns_wrap" class="s5_wrap">
                <div id="s5_columns_wrap_inner">
                    <div id="s5_columns_wrap_inner2">
                        <div id="s5_center_column_wrap">
                            <div id="s5_center_column_wrap_inner" style="margin-left:0px; margin-right:33px;">
                                <div id="s5_component_wrap">
                                    <div id="s5_component_wrap_inner">
                                        <div id="system-message-container"></div>
                                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
                                            <meta itemprop="inLanguage" content="en-GB" />
                                            <div class="page-header">
                                                <h2 itemprop="headline">Headteacher’s Welcome Message</h2>
                                            </div>

                                            <div itemprop="articleBody">
                                                <p>
                                                    <img style="margin-right: 20px; margin-bottom: 5px; float: left;" src="{% static 'front_cms/images/mrs-christopher.jpg' %}" alt="mrs christopher" width="181" height="200" />
                                                </p>
                                                <p style="text-align:justify">Welcome to our vibrant school community! At {{ school_info }}, we believe in nurturing every child's uniqueness,
                                                    sparking curiosity, and fostering a love for learning. Since [Year of Establishment], we've been dedicated
                                                    to providing a holistic education that cultivates creativity, critical thinking, and a sense of responsibility.
                                                    Our dedicated educators guide students on their educational journey, celebrating achievements and supporting
                                                    them through challenges. Located in the heart of [City/Town], our campus offers a safe and welcoming
                                                    environment for students to flourish and build lasting friendships. We embrace diversity, promote inclusivity,
                                                    and instill values of respect, compassion, and integrity. Explore our website to discover enriching academic programs
                                                    and engaging extracurricular activities. Together with parents, guardians, and the wider community, we
                                                    create a holistic educational experience that inspires a lifelong love for learning. Thank you for considering {{ school_info }}
                                                    as the place where your child's potential can truly soar. Let's embark on a journey of growth, discovery, and endless possibilities.
                                                    Warmest regards, <br>
                                                    [Your Name] <br />
                                                    Head of School
                                                </p>
                                                <p><strong>Mrs Onyinye Christopher</strong><br /><em>Headteacher</em></p> 	</div>
                                        </div>

                                        <div style="clear:both;height:0px"></div>
                                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
                                            <meta itemprop="inLanguage" content="en-GB" />
                                            <div class="page-header">
                                                <h2 itemprop="headline">Mission Statement</h2>
                                            </div>

                                            <div itemprop="articleBody">
                                                <h3>OUR VISION:</h3>
                                                <p>To be a professional entity that develops a child to be independent, productive and valuable to the society and the global stage.</p>
                                                <p>&nbsp;</p>
                                                <h3>OUR MISSION:</h3>
                                                <p>{{ school_info|title }} exists to raise and equip children as leaders, laying a solid foundation and to contribute to societal development.</p> 	</div>
                                        </div>
                                        <div style="clear:both;height:0px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}