{% extends 'admin_dashboard/layout.html' %}
{% block 'main' %}
{% load static %}

<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="card-body">
            <h5 class="card-title">Edit Slider - {{ slider.title }}</h5>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="moda" id="verticalycentered" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Slider</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <input type="hidden" name="updated_by" value="{{ user.id }}" />
                            <div class="modal-body row">
                                <div class="form-floating col-md-6">
                                    {{ form.title }}
                                    <br />
                                    <label for="floatingName">Slider Title <span style="color:red"><b>*</b></span></label>
                                </div><br />

                                <div class="form-floating col-md-6">
                                    {{ form.description }}
                                    <label for="floatingName">Slider Description </label>
                                </div><br />

                                <div class="form-floating col-md-6">
                                    {{ form.image }}
                                    <br />
                                    <label for="floatingName">Slider Image <span style="color:red"><b>*</b></span></label>
                                </div><br />

                                <div class="form-floating col-md-6">
                                    {{ form.second_image }}
                                    <br />
                                    <label for="floatingName">Slider Image 2</label>
                                </div><br />

                                <div class="form-floating col-md-6">
                                    {{ form.button_link }}
                                    <label for="floatingName">Slider Link Page </label>
                                </div><br />

                                <div class="form-floating col-md-6">
                                    {{ form.button_text }}
                                    <br />
                                    <label for="floatingName">Link Text </label>
                                </div><br />

                                <div class="form-floating col-md-6">
                                    {{ form.status }}
                                    <br />
                                    <label for="floatingName">Slider Status <span style="color:red"><b>*</b></span></label>
                                </div><br />
                            </div>
                            <div class="modal-footer">
                                <a onclick="window.history.back()" class="btn btn-danger">Cancel</a>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>




<script src="{% static 'admin_dashboard/scripts/jquery.js' %}"></script>
<script>
$(document).ready(function(){
    $('#occurrence').change(function(){
        occurrence = $(this).val()
        if(occurrence == 'one time' | occurrence == 'annually'){
            $('#payment_term_div').removeClass('d-none')
            $('#payment_term').attr('required', true)
        }else{
            $('#payment_term_div').addClass('d-none')
            $('#payment_term').attr('required', false)
        }
    })

})

</script>

{% endblock %}